<!-- Views: Format grid settings -->

<!-- Views: Custom row class -->
<div class="row pr-4">

    <!-- Views: Custom column class -->
    <div class="col-12 col-lg-6 col-xl-4 pr-0 pb-4">

        <!-- Views: Field - Custom text field -->
        <a href="{{ view_node }}" class="text-light">
            <div class="card card-hover-jump card-hover-dark text-light bg-dark">
                <div class="card-fade">
                    <img src="{{ field_hero_image }}" class="card-img" alt="{{ field_hero_image_alt }}">
                </div>
                <div class="card-img-overlay p-4">
                    <div class="card-text">
                        <h3 class="mb-2 text-shadow">{{ title }}</h3>
                        <div class="small text-shadow">{{ field_subtitle }}</div>
                    </div>
                </div>
            </div>
        </a>

    </div>

</div>